src/main/mule/cicdproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8bc772fb-3789-40c3-9c2e-ced62d36210b" >
		<http:listener-connection host="0.0.0.0" port="8080" />
	</http:listener-config>
	<flow name="cicdprojectFlow" doc:id="e8a299ff-197a-4ec1-a29c-5ba0e77efd10" >
		<http:listener doc:name="Listener" doc:id="6d460dfb-1711-4265-b5b2-13aa079678a2" config-ref="HTTP_Listener_config" path="/logger"/>
		<logger level="INFO" doc:name="Logger" doc:id="ab427c97-f9b6-4491-a7d1-7738d07aca88" message="Payload = #[payload] This is a basic flow."/>
	</flow>
</mule>
